<div class="container">
  <mat-card-title>Shorten the URL</mat-card-title>
  <mat-card class="card">
    <mat-card-content>
      <div class="input-container">
        <mat-form-field class="input-field">
          <input #urlInput matInput placeholder="Enter URL" (keyup.enter)="shortenURL(urlInput.value, urlInput)">
        </mat-form-field>
        <button (click)="shortenURL(urlInput.value, urlInput)" mat-raised-button color="primary">Shorten</button>
        <button (click)="reset(urlInput)" mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <mat-progress-spinner *ngIf="spin" mode="indeterminate"></mat-progress-spinner>
      <p *ngIf="error$ | async as error">{{ error.message }}</p>
      <p *ngIf="invalidUrl" style="color: red">{{ invalidUrl }}</p>
      <div *ngIf="shortUrls$ | async as shortUrls">
        <div class="short-url" *ngIf="shortUrls.length > 0">
          <h4>Short url:</h4>
          <a href="{{ shortUrls[0] }}" target="_blank">{{ shortUrls[0] }}</a>
        </div>
        <div class="short-url" *ngIf="shortUrls.length > 1">
          <h4>Short url 2:</h4>
          <a href="{{ shortUrls[1] }}" target="_blank">{{ shortUrls[1] }}</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
